{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v2/course/english/overview" class="govuk-back-link"
  >Save and return to overview</a
>
{% endblock %} {% block content %}
<form class="form" onsubmit="return submitAnswer();">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
        Writing an email
      </h2>

      <span
        style="font-family: 'GDS Transport';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        color: rgb(95, 134, 153);"
        >Lesson progress</span
      >
      <div class="progress-bar">
        <div class="progress-bar-fill" style="width: 55px;"></div>
      </div>
    </div>
  </div>
  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-l">
              Question 5 of 10
            </h2>
          </legend>
          <span id="changed-name-hint" class="govuk-hint">
            <p>
              You are asked to write an email requesting a refund from an online
              shop.
            </p>

            <p>
              <strong
                >Which of the following answers would be the appropriate subject
                for this email?</strong
              >
            </p>
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-five-a"
                name="english-question-five"
                type="radio"
                value="Request for Refund"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-five-a"
              >
                Request for Refund
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-five-b"
                name="english-question-five"
                type="radio"
                value="Give me a refund!"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-five-b"
              >
                Give me a refund!
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-five-c"
                name="english-question-five"
                type="radio"
                value="Dear Sir/ Madam"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-five-c"
              >
                Dear Sir/ Madam
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-five-d"
                name="english-question-five"
                type="radio"
                value="I regret to inform you that the clothes I ordered online did not fit. 
                Therefore I would like to request a refund."
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-five-d"
              >
                I regret to inform you that the clothes I ordered online did not
                fit. Therefore I would like to request a refund.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="english-question-five-a-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-correct"
      >
        <span class="feedback-title"> Correct answer!</span><br />
        <span class="feedback-message">
          Well done!
        </span>
      </div>
      <div
        id="english-question-five-b-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          The language here is too informal. In a formal email, even the subject
          must use formal language.
        </span>
      </div>
      <div
        id="english-question-five-c-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          The subject of an email must tell the reader what the email will be
          about. This would be an appropriate greeting to use at the start of a
          formal email.
        </span>
      </div>
      <div
        id="english-question-five-d-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          The subject of your email must contain only a brief summary of what
          the email will be about. This is too detailed. You would put this
          information in the body of your email.
        </span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        id="submitButton"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </button>

      <a
        id="continueButton"
        href="/main/v2/course/english/lesson/assessment/feedback"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6 hidden"
        data-module="govuk-button"
      >
        Finish
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        id="iDontKnowButton"
        href="/main/v2/course/english/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
        onclick="return skipAnswer();"
      >
        I don't know
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
  <br />
  <br />
</form>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  function submitAnswer(event) {
    if (!$('input:radio[name=english-question-five]').is(':checked')) {
      return false
    }

    $('[name=question-feedback]').addClass('hidden')
    var $radio = $('input[name=english-question-five]:checked')
    var id = $radio.attr('id')

    if (id === 'english-question-five-a') {
      addAnswer('english', 'correct')
    } else {
      addAnswer('english', 'incorrect')
    }

    $('#' + id + '-feedback').removeClass('hidden')
    lockQuestion()

    return false
  }

  function skipAnswer() {
    addAnswer('english', 'skipped')
    return true
  }

  function lockQuestion() {
    $('input[name=english-question-five]').attr('disabled', true)
    $('#submitButton').addClass('hidden')
    $('#iDontKnowButton').addClass('hidden')
    $('#continueButton').removeClass('hidden')
  }
</script>
{% endblock %}
