// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import 'lib/extensions/extensions';

// Patterns that aren't in Frontend
@import 'patterns/step-by-step-header';
@import 'patterns/step-by-step-nav';
@import 'patterns/step-by-step-related';
@import 'patterns/task-list';
@import 'patterns/related-items';

// Components that aren't in Frontend
@import 'components/cookie-banner';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
body {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.help-link {
  display: flex;
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0;
  bottom: 0;
  background: #005da6;

  a,
  a:visited {
    color: white;
  }
}

a.govuk-button,
button.govuk-button {
  min-width: 50%;
}

.hidden {
  display: none;
}

.progress-bar {
  width: 100%;
  height: 18px;
  border: 1px solid #bfc1c3;
  background: white;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #005da6;
}

.feedback-correct {
  border-left: 10px solid #00703c;

  span.feedback-title {
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #00703c;
  }

  span.feedback-message {
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
  }
}

.feedback-incorrect {
  border-left: 10px solid #d4351c;

  span.feedback-title {
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #d4351c;
  }

  span.feedback-message {
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
  }
}

.email-task-bar {
  width: 100%;
  height: 32px;
  background-color: #202124;

  .dot {
    margin: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.email-body {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 10px;

  span,
  p {
    font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;
    color: #0b0c0c;
    padding: 8px;
  }

  hr {
    margin: 5px 8px;
    border: 1px solid #bfc1c3;
  }
}
