{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v2/course/maths/overview" class="govuk-back-link"
  >Save and return to overview</a
>
{% endblock %} {% block content %}
<form
  class="form"
  onsubmit="return submitAnswer('maths', 'maths-question-five', 'maths-question-five-a');"
>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
        Recipe ratio
      </h2>

      <span
        style="font-family: 'GDS Transport';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        color: rgb(95, 134, 153);"
        >Lesson progress</span
      >
      <div class="progress-bar">
        <div class="progress-bar-fill" style="width: 55px;"></div>
      </div>
    </div>
  </div>
  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-l">
              Question 5 of 10
            </h2>
          </legend>
          <span id="changed-name-hint" class="govuk-hint">
            <p>
              Becky is using the following recipe to bake muffins:
              <br />
              <br />
              <i>Recipe for 20 Muffins:</i><br />
              400g flour<br />
              125ml oil<br />
              2 eggs<br />
              250g sugar<br />
              100g dried fruit<br />
            </p>

            <p>
              <strong>How much flour will she need to make 5 muffins?</strong>
            </p>
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-five-a"
                name="maths-question-five"
                type="radio"
                value="100g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-five-a"
              >
                100g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-five-b"
                name="maths-question-five"
                type="radio"
                value="2000g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-five-b"
              >
                2000g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-five-c"
                name="maths-question-five"
                type="radio"
                value="62.5g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-five-c"
              >
                62.5g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-five-d"
                name="maths-question-five"
                type="radio"
                value="385g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-five-d"
              >
                385g
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="maths-question-five-a-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-correct"
      >
        <span class="feedback-title"> Correct answer!</span><br />
        <span class="feedback-message">
          Well done!
        </span>
      </div>
      <div
        id="maths-question-five-b-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          You have multiplied by 5 instead of dividing by 5.
        </span>
      </div>
      <div
        id="maths-question-five-c-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          This is how much sugar she will need.
        </span>
      </div>
      <div
        id="maths-question-five-d-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title"> Incorrect answer! </span><br />
        <span class="feedback-message">
          Remember, when working with ratios you must always use multiplication
          and division.
        </span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        id="submitButton"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </button>

      <a
        id="continueButton"
        href="/main/v2/course/maths/lesson/assessment/feedback"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6 hidden"
        data-module="govuk-button"
      >
        Finish
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        id="iDontKnowButton"
        href="/main/v2/course/maths/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
        onclick="return skipAnswer('maths', 'maths-question-five');"
      >
        I don't know
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
  <br />
  <br />
</form>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    validateQuestion('maths', 'maths-question-five')
  })
</script>
{% endblock %}
