{% extends "layout.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ headingSuper({
      text: heading.sub
    }) }}

    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      Now that you’ve had your lesson along with some practice questions, it’s important that you test yourself. This
      will help you to get an idea of how well you understand this lesson and where you may need to improve.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/v4-2/topic/lesson/{{ lesson.id }}/assessment/1" class="large-link">Start quiz</a>
  </div>
</div>
{% endblock %}