{% extends "layout.html" %}

{% block pageTitle %}
NRS Prototype
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %}

{% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ headingSuper({
      text: heading.sub
    }) }}

    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>

{% if description %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>{{ description }}</p>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Prepare for exam
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="eligibility-completed">
                English functional skills 2
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="read-declaration-completed">
                Download a practise paper.pdf (3mb)
              </a>
            </span>
            <!-- <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong> -->
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Get a qualification
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/v4/course/find-a-centre" aria-describedby="company-information-completed">
                Find a test centre
              </a>
            </span>
            <!-- <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong> -->
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="contact-details-completed">
                Book an exam
              </a>
            </span>
            <!-- <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong> -->
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#">
                Get qualifcation
              </a>
            </span>
          </li>
          <!-- <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#">
                Provide financial evidence
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#" aria-describedby="medical-information-completed">
                Give medical information
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
          </li> -->
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Apply for your target job
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#">
                Search for job vacanies
              </a>
            </span>
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>


{% endblock %}