{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v3/course/english/intro" class="govuk-back-link"
  >Save and exit lesson</a
>
{% endblock %} {% block content %}
<form
  class="form"
  onsubmit="return submitAnswer('english', 'english-question-one', 'english-question-one-a');"
>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
        Writing an email
      </h2>
      <div class="progress-bar">
        <div
          id="lesson-progress"
          class="progress-bar-fill"
          style="width: 0;"
        ></div>
      </div>
    </div>
  </div>
  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-l">
              Question 1 of 5
            </h2>
          </legend>
          <span id="changed-name-hint" class="govuk-hint">
            <p>
              You are asked to write an email applying for a job as a social
              worker at a local community centre.
            </p>

            <p>
              In an email, you should introduce your purpose for writing.
            </p>

            <p>
              <strong>Select the correct opening.</strong>
            </p>
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-one-a"
                name="english-question-one"
                type="radio"
                value="I am writing to apply for the role of social worker at the local community centre."
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-one-a"
              >
                I am writing to apply for the role of social worker at the local
                community centre.
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-one-b"
                name="english-question-one"
                type="radio"
                value="Do you have any jobs available at the community centre?"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-one-b"
              >
                Do you have any jobs available at the community centre?
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-one-c"
                name="english-question-one"
                type="radio"
                value="I am writing because I want a job as a social worker."
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-one-c"
              >
                I am writing because I want a job as a social worker.
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="english-question-one-d"
                name="english-question-one"
                type="radio"
                value="I think I have the right skills to make me eligible for a role as a social worker."
              />
              <label
                class="govuk-label govuk-radios__label"
                for="english-question-one-d"
              >
                I think I have the right skills to make me eligible for a role
                as a social worker.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="english-question-one-a-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-correct"
      >
        <span class="feedback-title">Correct answer!</span><br />
        <span class="feedback-message">
          Well done!
        </span>
      </div>
      <div
        id="english-question-one-b-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message"> </span>
      </div>
      <div
        id="english-question-one-c-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message">
          The language used here is too informal. A job application is a formal
          piece of writing. You should use formal language throughout your
          email.
        </span>
      </div>
      <div
        id="english-question-one-d-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message">
          Before giving more detail, you must state the purpose for writing your
          email.
        </span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        id="submitButton"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
      </button>

      <a
        id="continueButton"
        href="/main/v3/course/english/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6 hidden"
        data-module="govuk-button"
      >
        Next question
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        id="iDontKnowButton"
        href="/main/v3/course/english/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
        onclick="return skipAnswer('english', 'english-question-one');"
      >
        I don't know
      </a>
    </div>
  </div>
  <br />
  <br />
</form>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    validateQuestion('english', 'english-question-one')

    updateProgress('english', [19], 1)

    var percentage = getLessonProgress('english')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
