{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a
  href="/main/v3/course/english/lesson/static-learning-content"
  class="govuk-back-link"
  >Back</a
>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
      Writing an email
    </h2>
    <div class="progress-bar">
      <div
        id="lesson-progress"
        class="progress-bar-fill"
        style="width: 0;"
      ></div>
    </div>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      Test your knowledge
    </h3>

    <p>
      Now that you've had your lesson, it's time to do a quick recap on what
      you've learnt. Once you're ready, start working through the questions.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/main/v3/course/english/lesson/assessment/1" class="large-link"
      >Continue</a
    >
  </div>
</div>

<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    updateProgress(
      'english',
      [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
      1
    )

    var percentage = getLessonProgress('english')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
