{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v2/course/maths/overview" class="govuk-back-link"
  >Save and return to overview</a
>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
      Recipe Ratio
    </h2>

    <span
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    
    color: #6F777B;"
      >Lesson progress</span
    >
    <div
      style="width: 100%; height: 18px; border: 1px solid #BFC1C3; background: white; margin-bottom: 10px;"
    >
      <div style="width: 55px; height: 100%; background-color: #005DA6;"></div>
    </div>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="/main/v2/course/maths/lesson/lesson-objective"
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: inherit;
    line-height: 26px;
    text-decoration-line: underline;
    
    color: #1D70B8;"
      >Lesson objective</a
    >
    <br />
    <a
      href="/main/v2/course/maths/lesson/static-learning-content"
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: inherit;
    line-height: 26px;
    text-decoration-line: underline;
    
    color: #1D70B8;"
      >Learning material</a
    >
    <br />
    <br />
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <iframe
      width="100%"
      height="194px"
      src="https://www.youtube.com/embed/LA-oaefUy5Q"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe> -->
    <iframe
      width="100%"
      height="194px"
      src="https://www.youtube.com/embed/1rNXShJ848A"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <!-- <h3 class="govuk-heading-m">
      How would you like to learn?
    </h3>

    <p>
      Once you're ready, select how you would like the lesson delivered (you can
      change this during the lesson if required).
    </p> -->
  </div>
</div>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="/main/v2/lesson/select-learning-material"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
      data-module="govuk-button"
    >
      Continue
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        role="presentation"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="/main/v2/course/maths/lesson/assessment/start"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
      data-module="govuk-button"
    >
      Skip
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        role="presentation"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div>

<br />
<br />
{% endblock %}
