{% extends "layout-v4_2.html" %}

{% block pageTitle %}
NRS Prototype
{% endblock %}

{% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% for answer in question.answers %}
    {% if answer %}

    <div id="{{ question.name }}-{{ answer.id }}-feedback" name="question-feedback" class="feedback-box hidden">
      <div style="padding: 15px;">

        <h3 class="govuk-heading-m">{% if answer.isCorrect %} Correct answer! {% else %} Incorrect answer! {% endif %}
        </h3>
        {% if answer.isCorrect %}
        <p>You have answered this correctly.</p>{% if not saveAnswers %}
        <p>{{ answer.feedback }}</p>
        {% endif %}
        {% else %}
        {% if not saveAnswers and not answer.isCorrect %}
        <p>{{ answer.feedback }}
          {% endif %}
          <hr />
          <h3 class="govuk-heading-m">The correct answer is:</h3>
          <p name="correct-answer-text"></p>
          {% endif %}
          <!-- <a class="small-link" href="#question-anchor">See your answer</a> -->
          <a class="small-link" onclick="return v4ShowQuestion();">See your answer</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div id="skipped-feedback" name="question-feedback" class="feedback-box hidden">
      <div style="padding: 15px;">
        <h3 class="govuk-heading-m">You have skipped the question</h3>
        <hr />
        <h3 class="govuk-heading-m">The correct answer is:</h3>
        <p name="correct-answer-text"></p>
        <!-- <a class="small-link" href="#question-anchor">See your answer</a> -->
        <a class="small-link" onclick="return v4ShowQuestion();">See your answer</a>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row hidden" id="section-actions" style="margin-bottom: 20px;">
  <div class="govuk-grid-column-two-thirds">
    {{ actionLinks({
      actions: actions
    }) }}
  </div>
</div>

<!-- <div id="helplinks-secondary" class="hidden">
  {{ helpLinks({
    helpSections: help
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr />
    </div>
  </div>
</div> -->

<div id="question-form">
  <div class="govuk-grid-row" id="section-headings">
    <div class="govuk-grid-column-two-thirds">
      <div id="sub-heading">
        {{ headingSuper({
        text: heading.sub
      }) }}
      </div>

      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
        {{ heading.html | safe if heading.html else heading.main }}
      </h1>
    </div>
  </div>

  {% if description %}
  <div class="govuk-grid-row" id="question-description">
    <div class="govuk-grid-column-two-thirds">
      <p>
        {{ description }}
      </p>
      <hr />
    </div>
  </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ question.html | safe if question.html else question.text }}
    </div>
  </div>

  <form class="form" onsubmit="return v4SubmitAnswer();">
    <a name="question-anchor"></a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <input type="hidden" id="_lesson_id" value="{{ lessonId }}" />
        <input type="hidden" id="_correct_answer_id" value="{{ question.name }}-{{ question.correctAnswerId }}" />
        <input type="hidden" id="_question_name" value="{{ question.name }}" />
        <input type="hidden" id="_save_answers" value="{{ saveAnswers }}" />
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              {% for answer in question.answers %}
              {% if answer %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{ question.name }}-{{ answer.id }}" name="{{ question.name }}"
                  type="radio" value="{{ answer.value }}">
                <label id="{{ question.name }}-{{ answer.id }}-label" class="govuk-label govuk-radios__label"
                  for="{{ question.name }}">
                  {{ answer.text }}
                </label>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <button id="button-submit" class="govuk-button" data-module="govuk-button">Submit answer</button>
        <a id="button-show-feeedback" class="govuk-button hidden" data-module="govuk-button"
          onclick="return v4SubmitAnswer();">Return to feedback</a>
      </div>
    </div>

    {% if saveAnswers and skipAction %}
    <div class="govuk-grid-row" style="margin-bottom: 20px;" id="button-skip-action">
      <div class="govuk-grid-column-two-thirds">
        <hr />
        <h2 class="govuk-heading-l">{{ skipAction.title }}</h3>
          <a class="small-link" onClick="{{ skipAction.link.onClick }}">{{ skipAction.link.text }}</a>
      </div>
    </div>
    {% endif %}
  </form>
</div>

{% endblock %} {% block pageScripts %}
<script type="text/javascript">

  $(document).ready(function () {
    v4ValidateQuestion()
  })

  function v4SubmitAnswer() {
    const question = $('#_question_name').val()
    if (!$('input:radio[name=' + question + ']').is(':checked')) {
      return false
    }

    $('[name=question-feedback]').addClass('hidden')

    const lessonId = $('#_lesson_id').val()
    const correctAnswerId = $('#_correct_answer_id').val()
    const saveAnswers = $('#_save_answers').val()
    const $radio = $('input[name=' + question + ']:checked')
    const selectedId = $radio.attr('id')
    const selectedAnswer = $radio.val()

    const correctAnswerText = $('#' + correctAnswerId).val()
    $('.feedback-box p[name="correct-answer-text"]').text(correctAnswerText)

    const result = getResult(question, selectedId, selectedAnswer)
    saveResult(question, selectedId, selectedAnswer, result)

    v4LockQuestion(question)

    $('#question-form').addClass('hidden')
    v4ShowFeedback(selectedId, correctAnswerId)

    window.scrollTo(0, 0)

    return false
  }

  function v4ShowQuestion() {
    $('[name=question-feedback]').addClass('hidden')
    $('#question-form').removeClass('hidden')
    $('#section-actions').addClass('hidden')
    $('#question-description').removeClass('hidden')
    $('#button-show-feeedback').removeClass('hidden')
    $('#dont-know').addClass('hidden')
    $('#button-skip-action').addClass('hidden')
  }

  function v4ValidateQuestion() {
    const saveAnswers = $('#_save_answers').val()
    const question = $('#_question_name').val()
    if (saveAnswers !== 'true') {
      $('input[name=' + question + ']').prop('checked', false)
      return
    }

    const lessonId = $('#_lesson_id').val()
    const lesson = getLocalStorageObject('lesson-' + lessonId)
    if (!lesson) {
      return
    }

    const currentAnswer = lesson.answers.find(x => x.question === question)
    if (!currentAnswer) {
      return
    } else {
      const correctAnswerId = $('#_correct_answer_id').val()
      const selectedId = currentAnswer.answerId

      if (!selectedId) {
        v4ShowFeedback(question, 'skipped')
        $('#skipped-feedback').removeClass('hidden')
      } else {
        $('#' + currentAnswer.answerId).prop('checked', true)
        v4ShowFeedback(selectedId, correctAnswerId)
      }

      v4LockQuestion(question)
    }
  }

  function getResult(question, selectedId, selectedAnswer) {
    const correctAnswerId = $('#_correct_answer_id').val()
    const result = selectedId === correctAnswerId ? 'correct' : 'incorrect'
    return result
  }

  function saveResult(question, answerId, answer, result) {
    const saveAnswers = $('#_save_answers').val()
    if (saveAnswers === 'true' && v4ResultIsValid(result)) {
      const lessonId = $('#_lesson_id').val()
      v4SaveAnswerToLocalStorage(lessonId, question, answerId, answer, result === 'correct' ? true : false, result)
    }
  }

  function v4SkipQuestion() {
    const question = $('#_question_name').val()
    saveResult(question, null, null, 'skipped')

    v4LockQuestion(question)
    v4ShowFeedback(question, 'skipped')

    $('#skipped-feedback').removeClass('hidden')

    window.scrollTo(0, 0)
  }

  function v4ShowFeedback(selectedId, correctAnswer) {
    const correctAnswerId = $('#_correct_answer_id').val()
    const correctAnswerText = $('#' + correctAnswerId).val()
    $('.feedback-box p[name="correct-answer-text"]').text(correctAnswerText)

    if (correctAnswer === 'skipped') {
      $('#' + correctAnswer + '-feedback').removeClass('hidden')
    } else {
      $('#' + selectedId + '-feedback').removeClass('hidden')
    }
    $('#sub-heading').addClass('hidden')
    // $('#helplinks-primary').addClass('hidden')
    // $('#helplinks-secondary').removeClass('hidden')
    $('#section-actions').removeClass('hidden')
    $('#question-description').addClass('hidden')
    $('#skip-link').addClass('hidden')
  }

  function v4LockQuestion(question) {
    $('input[name=' + question + ']').attr('disabled', true)
    $('#button-submit').addClass('hidden')
    $('#dont-know').addClass('hidden')
    $('#button-skip-action').addClass('hidden')
    $('#button-continue').removeClass('hidden')
  }

</script>
{% endblock %}