{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">My Jobs</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/main/v1/job-search"
        >Target job</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/main/v1/maths-course"
        >Math skills</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Functional Skills 2</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<form class="form" onsubmit="return submitAnswer();">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">
          Question 2 of 10
        </h1>
        <span id="changed-name-hint" class="govuk-hint">
          <p>
            Sam is using the following hair dye recipe.
            <br />
            <br />
            <i>100ml of Hair Dye:</i><br />
            30ml colour 1<br />
            20ml colour 2<br />
            50ml peroxide<br />
          </p>

          <p>
            She wants to make as much hair dye as she can, but she only has
            200ml of peroxide.
          </p>

          <p>
            <strong>How much hair dye can she make?</strong>
          </p>
        </span>
        <input
          class="govuk-input"
          id="question-two"
          name="question-two"
          type="text"
        />
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="question-two-incorrect-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden"
        style="border-left: 10px solid #D4351C;"
      >
        Make sure you read the question carefully. You have been asked how much
        hair dye Sam can make.
      </div>
      <div
        id="question-two-correct-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden"
        style="border-left: 10px solid #00703c; 
          font-size: 24px;
          line-height: 28px;"
      >
        Well done.
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        id="submitButton"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </button>

      <a
        id="continueButton"
        href="/main/vprototype-end"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6 hidden"
        data-module="govuk-button"
      >
        Continue
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        href="/main/v2/prototype-end"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
      >
        I don't know
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
  <p>
    <a href="/main/v2/prototype-end">Click here to skip quiz</a>
  </p>
  <br />
  <br />
</form>
<script type="text/javascript">
  function submitAnswer(event) {
    var answer = $('#question-two').val()
    if (answer === null || answer.trim() === '') {
      return false
    }

    $('[name=question-feedback]').addClass('hidden')

    var correctAnswers = [
      '400ml',
      '400 ml',
      '400ML',
      '400 ML',
      '400 Ml',
      '400Ml',
      '400 mL',
      '400mL'
    ]

    if (correctAnswers.includes(answer)) {
      $('#question-two-correct-feedback').removeClass('hidden')
      $('input[name=question-two]').attr('disabled', true)
      $('#submitButton').addClass('hidden')
      $('#continueButton').removeClass('hidden')
      increaseCorrect()
    } else {
      $('#question-two-incorrect-feedback').removeClass('hidden')
    }

    return false
  }

  function increaseCorrect() {
    var correctAnswers = localStorage.getItem('mathsCorrect')
    if (correctAnswers === null) {
      localStorage.setItem('mathsCorrect', 1)
    } else {
      localStorage.setItem('mathsCorrect', parseInt(correctAnswers) + 1)
    }
  }
</script>
{% endblock %}
