{% extends "main/v6-demo/layout-v6-demo.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ headingSuper({
      text: lesson.title
    }) }}

    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      What will you do in this lesson
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      During this lesson you will:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>learn how to write a formal email</li>
      <li>identify the key features of a formal email</li>
      <li>practice writing a formal email</li>
      <li>be quizzed on what you have learnt throughout the lesson. You will receive a score at the end along with
        feedback</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      The following skills may be useful in your target job:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>writing a job application</li>
      <li>writing to a colleague at work (to request time off or arrange a meeting)</li>
      <li>making a complaint or asking for a refund (usually to a company who has failed to provide their services as
        you would expect)</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/v6-demo/topic/lesson/{{ lesson.id }}/select-learning-content" class="govuk-button">Continue</a>
  </div>
</div>
{% endblock %}