{% extends "layout-v8-hj.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <p>
      {{ description }}
    </p> -->
    <p>You answer 20 questions in 30 minutes.</p>
    <p>You show that you understand nearly half of the course already, which means you save around 6 hours in lessons.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Go back",
      href: nextLink,
      isStartButton: false
    }) }}
  </div>
</div>
{% endblock %}