{% extends "layout-v8-hj.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %}
{% block header %}
{% include "includes/cookie-banner.html" %}
{% endblock %}

{% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      You are about to see a prototype. Not all the links will work and some of the pages will ask you to imagine
      certain things have happened.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Continue",
      href: nextLink,
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function () {
    clearLocalStorageData()
  })
</script>
{% endblock %}