{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">My Jobs</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/main/v1/job-search"
        >Target job</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/main/v1/maths-course"
        >Math skills</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Functional Skills 2</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<form class="form" action="/main/v1/question/2" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Question 1 of 20
            </h1>
          </legend>
          <span id="changed-name-hint" class="govuk-hint">
            <p>
              James has four children. The children are aged between 16, 18, 4,
              10.
            </p>

            <p>
              <strong
                >Select the ages that are in order from the smallest to the
                largest.</strong
              >
            </p>
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="question-one-a"
                name="question-one"
                type="radio"
                value="4, 10, 16, 18"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="question-one-a"
              >
                4, 10, 16, 18
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="question-one-b"
                name="question-one"
                type="radio"
                value="10, 16, 18, 4"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="question-one-b"
              >
                10, 16, 18, 4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="question-one-c"
                name="question-one"
                type="radio"
                value="18, 16, 10, 4"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="question-one-c"
              >
                18, 16, 10, 4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="question-one-d"
                name="question-one"
                type="radio"
                value="16, 18 , 4 , 10"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="question-one-d"
              >
                16, 18, 4, 10
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        href="/main/v1/job-search"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
      >
        I don't know
        <svg
          class="govuk-button__start-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="17.5"
          height="19"
          viewBox="0 0 33 40"
          role="presentation"
          focusable="false"
        >
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
  <p>
    <a href="/main/v1/course/overview-skip-diagnostic"
      >Click here to skip quiz</a
    >
  </p>
  <br />
</form>
{% endblock %}
