{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v3/course/maths/intro" class="govuk-back-link"
  >Save and exit lesson</a
>
{% endblock %} {% block content %}
<form
  class="form"
  onsubmit="return submitAnswer('maths', 'maths-question-one', 'maths-question-one-a');"
>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
        Recipe ratio
      </h2>
      <div class="progress-bar">
        <div
          id="lesson-progress"
          class="progress-bar-fill"
          style="width: 0;"
        ></div>
      </div>
    </div>
  </div>
  <br />

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-heading-l">
              Question 1 of 5
            </h2>
          </legend>
          <span id="changed-name-hint" class="govuk-hint">
            <p>
              Tom is using the following recipe to make cookies:
              <br />
              <br />
              <i>Recipe for 6 Cookies:</i><br />
              100g flour<br />
              50g butter<br />
              2 eggs<br />
              30g chocolate chips<br />
            </p>

            <p>
              <strong>How much butter will he need to make 12 cookies?</strong>
            </p>
          </span>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-one-a"
                name="maths-question-one"
                type="radio"
                value="100g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-one-a"
              >
                100g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-one-b"
                name="maths-question-one"
                type="radio"
                value="200g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-one-b"
              >
                200g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-one-c"
                name="maths-question-one"
                type="radio"
                value="60g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-one-c"
              >
                60g
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="maths-question-one-d"
                name="maths-question-one"
                type="radio"
                value="56g"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="maths-question-one-d"
              >
                56g
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="maths-question-one-a-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-correct"
      >
        <span class="feedback-title">Correct answer!</span><br />
        <span class="feedback-message">
          Well done!
        </span>
      </div>
      <div
        id="maths-question-one-b-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message"
          >This is how much flour he will need.</span
        >
      </div>
      <div
        id="maths-question-one-c-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message">
          This is how much chocolate chips he will need.
        </span>
      </div>
      <div
        id="maths-question-one-d-feedback"
        name="question-feedback"
        class="govuk-inset-text hidden feedback-incorrect"
      >
        <span class="feedback-title">Incorrect answer! </span><br />
        <span class="feedback-message">
          Remember, when working with ratios you must always use multiplication
          and division.
        </span>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <button
        id="submitButton"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-2"
        data-module="govuk-button"
      >
        Submit answer
      </button>

      <a
        id="continueButton"
        href="/main/v3/course/maths/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6 hidden"
        data-module="govuk-button"
      >
        Next question
      </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a
        id="iDontKnowButton"
        href="/main/v3/course/maths/lesson/assessment/2"
        role="button"
        draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6"
        data-module="govuk-button"
        onclick="return skipAnswer('maths', 'maths-question-one');"
      >
        I don't know
      </a>
    </div>
  </div>
  <br />
  <br />
</form>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    validateQuestion('maths', 'maths-question-one')

    updateProgress('maths', [15], 1)

    var percentage = getLessonProgress('maths')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
