{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a href="/main/v2/intro/job-search" class="govuk-back-link">Return to search</a>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" id="target-job">
      Your target job
    </h1>

    <h2 class="govuk-heading-l">What skills do you need?</h2>

    <p>
      Based on the current skills you have and what
      <strong>employers</strong> say they want in a candidate for this role,
      these are the skills that we recommend you work on.
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="/main/v2/course/english/intro"
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: inherit;
    line-height: 26px;
    text-decoration-line: underline;
    color: #1D70B8;"
      >English skills</a
    >
    <br />
    <a
      href="/main/v2/course/maths/intro"
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: inherit;
    line-height: 26px;
    text-decoration-line: underline;
    color: #1D70B8;"
      >Maths skills</a
    >
    <br />
    <br />
  </div>
</div>
<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    var targetJob = localStorage.getItem('targetJob')
    $('#target-job').text(targetJob ? targetJob : 'Your target job')
  })
</script>
{% endblock %}
