{% extends "layout-v8-ul.html" %}

{% block pageTitle %}
NRS Prototype
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %}

{% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ headingSuper({
          text: heading.sub
        }) }}

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
          {{ heading.main }}
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="small-link" style="text-decoration: none;">Your score</span>
        <h1 class="govuk-heading-xl results-percentage" id="results-percentage">
          0%
        </h1>
        <p id="results-summary"></p>

        <div id="badge-panel-success" class="hidden">
          {{ badgePanel({
            title: "You got the 'Email Expert' badge",
            text: 'Congratulations! You have unlocked this badge.',
            locked: false
          }) }}
        </div>
        <div id="badge-panel-unsuccessful" class="hidden">
          {{ badgePanel({
            title: 'Email Expert',
            text: 'Score 70% or more in the lesson’s quiz to unlock this badge.',
            locked: true
          }) }}
        </div>

        <input type="hidden" id="_lesson_id" value="{{ lesson.id }}" />
      </div>
    </div>

    <div class="govuk-grid-row" id="section-actions" style="margin-bottom: 20px;">
      <div class="govuk-grid-column-full">
        <a class="govuk-button" data-module="govuk-button">Next lesson</a>
        <div class="also-links-main">
          <hr />
          <h2 class="govuk-heading-l">You can also</h2>
          <div style="margin-bottom: 5px;">
            <a class="small-link">Retry lesson</a><br />
          </div>
          <div style="margin-bottom: 5px;">
            <a class="small-link">Retry quiz</a><br />
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Feedback on your answers</h2>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for question in lesson.assessmentQuestions %}
          {% if question %}
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span style="display: inline;" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Question {{ question.id }}
                </span>

                <span class="feedback-accordion-status" id="{{ question.name }}-result">Incorrect</span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  {{ question.html | safe if question.html else question.text }}
                </div>
              </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                  {% for answer in question.answers %}
                  {% if answer %}
                  {% if answer.isCorrect %}
                  <input type="hidden" id="{{ question.name }}-correct-text" value="{{ answer.text }}" />
                  <input type="hidden" id="{{ question.name }}-feedback-text" value="{{ answer.feedback }}" />
                  {% endif %}
                  <div id="{{ question.name }}-{{ answer.id }}-feedback" name="question-feedback"
                    class="feedback-box hidden">
                    <div style="padding: 15px;">
                      <h3 class="govuk-heading-m">{% if answer.isCorrect %} You correctly selected: {% else %} You
                        incorrectly
                        selected: {% endif %}</h3>
                      {% if not answer.isCorrect %}
                      <p>{{ answer.text }}</p>
                      <p id="{{ question.name }}-selected-answer-output"></p>
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      <p>{{ answer.feedback }}</p>
                      <hr />
                      <h3 class="govuk-heading-m">The correct answer is:</h3>
                      {% endif %}
                      <p id="{{ question.name }}-{{ answer.id }}-correct-answer-output"></p>
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      <p id="{{ question.name }}-{{ answer.id }}-correct-feedback-output"></p>
                    </div>
                  </div>
                  {% if answer.isCorrect and question.type === 'multiplechoice' %}
                  <div id="{{ question.name }}-skipped-feedback" name="question-feedback" class="feedback-box hidden">
                    <div style="padding: 15px;">
                      <h3 class="govuk-heading-m">You have skipped the question</h3>
                      <hr />
                      <h3 class="govuk-heading-m">The correct answer is:</h3>
                      <p>{{ answer.text }}</p>
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      <p>{{ answer.feedback }}</p>
                    </div>
                  </div>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% if question.correctFeedback %}
                  <div id="{{ question.name }}-input-correct-feedback" name="question-feedback"
                    class="feedback-box hidden">
                    <div style="padding: 15px;">
                      <h3 class="govuk-heading-m">You correctly answered:</h3>
                      <p id="{{ question.name }}-selected-answer-correct-output"></p>
                      <hr />
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      {{ question.correctFeedback.html | safe if question.correctFeedback.html else question.correctFeedback.main }}
                    </div>
                  </div>
                  {% endif %}
                  {% if question.incorrectFeedback %}
                  <div id="{{ question.name }}-input-incorrect-feedback" name="question-feedback"
                    class="feedback-box hidden">
                    <div style="padding: 15px;">
                      <h3 class="govuk-heading-m">You incorrectly answered:</h3>
                      <p id="{{ question.name }}-selected-answer-incorrect-output"></p>
                      <hr />
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      {{ question.incorrectFeedback.html | safe if question.incorrectFeedback.html else question.incorrectFeedback }}
                    </div>
                  </div>
                  {% endif %}
                  {% if question.type === 'input' %}
                  <div id="{{ question.name }}-input-skipped-feedback" name="question-feedback"
                    class="feedback-box hidden">
                    <div style="padding: 15px;">
                      <h3 class="govuk-heading-m">You have skipped the question</h3>
                      <hr />
                      <h3 class="govuk-heading-m">Feedback:</h3>
                      {{ question.incorrectFeedback.html | safe if question.incorrectFeedback.html else question.incorrectFeedback }}
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="also-links-side" name="button-skip-action">
      {{ sideLinks({
        helpSections: sideActions
      }) }}
    </div>
    {% if side %}

    <a name="help"></a>
    <div id="helplinks-primary">
      {{ sideLinks({
          helpSections: side
        }) }}
    </div>

    {% endif %}
  </div>
</div>



{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function () {
    const lessonId = $('#_lesson_id').val()
    v4GetAnswersForLesson(lessonId)
  })

  function v4GetAnswersForLesson(lessonId) {
    var lesson = getLocalStorageObject('lesson-' + lessonId)
    if (!lesson) {
      return
    }

    const totalAnswers = lesson.answers.length
    let correctAnswerCount = 0
    lesson.answers.forEach(answer => {
      $('#' + answer.question + '-result').text(capitalizeResult(answer.result))
      $('#' + answer.question + '-icon-' + answer.result).removeClass('hidden')

      const correctAnswerText = $('#' + answer.question + '-correct-text').val()
      const correctFeedbackText = $('#' + answer.question + '-feedback-text').val()

      $('#' + answer.answerId + '-correct-answer-output').text(correctAnswerText)
      $('#' + answer.answerId + '-correct-feedback-output').text(correctFeedbackText)

      if (answer.result === 'skipped') {
        $('#' + answer.question + '-skipped-feedback').removeClass('hidden')
      } else {
        $('#' + answer.answerId + '-feedback').removeClass('hidden')
      }

      if (answer.answerId === null) {
        if (answer.result === 'correct') {
          $('#' + answer.question + '-input-correct-feedback').removeClass('hidden')
          $('#' + answer.question + '-selected-answer-correct-output').text(answer.answer)
        } else if (answer.result === 'skipped') {
          $('#' + answer.question + '-input-skipped-feedback').removeClass('hidden')
        } else {
          $('#' + answer.question + '-input-incorrect-feedback').removeClass('hidden')
          $('#' + answer.question + '-selected-answer-incorrect-output').text(answer.answer)
        }
      }

      if (!answer.isCorrect) {
        $('#' + answer.selectedAnswer + '-label').removeClass('govuk-radios__label')
        $('#' + answer.selectedAnswer + '-label').addClass('govuk-radios__label__incorrect')
      } else {
        correctAnswerCount++
      }
    });

    const percentage = ((correctAnswerCount / totalAnswers) * 100).toFixed(0)

    if (percentage >= 70) {
      $('#badge-panel-success').removeClass('hidden')

      $('#results-percentage').addClass('results-percentage')
      $('#results-percentage').removeClass('results-percentage-fail')
    } else {
      $('#badge-panel-unsuccessful').removeClass('hidden')

      $('#results-percentage').removeClass('results-percentage')
      $('#results-percentage').addClass('results-percentage-fail')
    }

    $('#results-percentage').text(percentage + '%')
    $('#results-summary').text(
      'You answered ' +
      correctAnswerCount +
      ' out of ' +
      totalAnswers +
      ' questions correctly.'
    )
  }

  function capitalizeResult(result) {
    return result.length > 1
      ? result.charAt(0).toUpperCase() + result.substring(1)
      : result
  }
</script>
{% endblock %}