{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/main/v2/intro/select-skills"
        >Skills</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a
        class="govuk-breadcrumbs__link"
        href="/main/v2/intro/study-for-qualification"
        >English skills</a
      >
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">English functional skills 2</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <img
      src="/public/images/maths-course.png"
      style="margin-left: -15px; width: 100vw"
    /><br /><br />

    <h1 class="govuk-heading-xl">
      English Functional Skills 2
    </h1>

    <h2 class="govuk-heading-l">Introduction</h2>

    <p>
      This course helps you develop your reading and writing skills including
      finding meaning in a range of texts and using different language features
      and devices.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is the course structure?
        </span>
      </summary>
      <div class="govuk-details__text">
        The course is divided into different units and is delivered in a quick
        and effective way, providing opportunities to practise the key skills.
      </div>
    </details>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What will I learn on this course?
        </span>
      </summary>
      <div class="govuk-details__text">
        This course is broken down into the following chapters;
        <ul class="govuk-list govuk-list--bullet">
          <li>Finding Meaning in Text</li>
          <li>Textual Features and Devices</li>
          <li>Language and Structure</li>
          <li>Using Correct Grammar</li>
          <li>Punctuation</li>
          <li>Spellings</li>
          <li>Writing</li>
        </ul>
      </div>
    </details>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How long is the course?
        </span>
      </summary>
      <div class="govuk-details__text">
        The course is designed in a way so that you can study in your spare
        time. On average, the couse is around 40 hours long, with each lesson
        lasting between 15 - 30 minutes to complete. Adult learning is taught in
        a relaxed and positive way, so don't be discouraged by the course
        length. Take your time and study when it suits you best.
      </div>
    </details>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How will this help me with getting a qualification?
        </span>
      </summary>
      <div class="govuk-details__text">
        Completing this course will fully prepare you to sit the Reading and
        Writing Functional Skills Level 2 exam papers, which you will need to
        pass in order to be awarded the qualification.
      </div>
    </details>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a
      href="/main/v2/course/english/overview"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      data-module="govuk-button"
      onclick="return addCourse();"
    >
      Start course
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        role="presentation"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div>
<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  function addCourse() {
    addCourseToLocalStorage('english')
    return true
  }
</script>
{% endblock %}
