{% extends "layout-v6-demo.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Before you start:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>find somewhere where you can concentrate</li>
      <li>make sure you are connected to the internet through wifi or mobile data on your phone</li>
      <li>you can take this course as many times as you like</li>
      <li>you should take this course on your own. You can get help from a tutor during the course if you need it</li>
      <li>if you need to stop during the course, you can save your answers and come back later</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Start course",
      href: nextLink,
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function () {
    clearLocalStorageData()
  })
</script>
{% endblock %}