{% extends "main/v6-demo/layout-v6-demo.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block beforeContent %}
{% if back %}

{{ govukBackLink({
      text: back.text,
      href: back.href
    }) }}

{% endif %}
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
      {{ heading.main }}
    </h1>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      Whilst it uses accurate styles and components, this is not a true reflection of how it will actually look and
      function.
    </p>
    <p>
      * Not all links are clickable
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Start now",
      href: nextLink,
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function () {
    clearLocalStorageData()
  })
</script>
{% endblock %}