{% extends "layout.html" %} {% block pageTitle %} NRS Diagnostic Prototype {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get Help To Retrain Diagnostic Prototypes
    </h1>
    <p class="govuk-body-l">
      Prototype versions for the Get Help to Retrain Diagnostic team
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Prototypes
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Version 8 HJ (<a href="/v8-hj">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v8.0">Git</a>)
        <p>Unmoderated testing using Hotjar starting 25/03/2020 (v7.0 + course progress indication and diagnostic step)
        </p>
      </li>
      <li>
        Version 8 UL (<a href="/v8-ul">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v8.0">Git</a>)
        <p>Unmoderated testing using Userlytics starting 25/03/2020 (v7.0 + course progress indication and diagnostic
          step)</p>
      </li>
      <li>
        Version 7 (<a href="/v7">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v7.0">Git</a>)
        <p>Unmoderated testing using Userlytics starting 20/03/2020 (V6.0 + step by step navigation screens). </p>
      </li>
      <li>
        Version 6 (<a href="/v6">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v6.0">Git</a>)
        <p>Unmoderated testing using Userlytics starting 19/03/2020 (V5.0 + content review updates). </p>
      </li>
      <li>
        Version 5 (<a href="/v5">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v5.0">Git</a>)
        <p>Unmoderated testing using Userlytics starting 17/03/2020 (V4.0 + waterproofing for Unmoderated). </p>
      </li>
      <li>
        Version 4 (<a href="/v4">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v4.1">Git</a>)
        <p>2 day moderated research testing starting 04/03/2020.</p>
      </li>
      <li>
        Version 3 (<a href="/main/v3/prototype-start">Heroku</a>, <a
          href="https://github.com/DFE-Digital/nrs-diagnostic-prototype/releases/tag/v3.0">Git</a>)
        <p>2 day moderated research testing starting 19/02/2020.</p>
      </li>
      <li>
        Version 2 (<a href="/main/v2/prototype-start">Heroku</a>)
        <p>Unused iteration of v1.0</p>
      </li>
      <li>
        Version 1 (<a href="/main/v1/prototype-start">Heroku</a>)
        <p>Unused code version of Figma prototype, which was used for 2 day moderated research starting 05/02/2020. </p>
      </li>

    </ul>
  </div>
</div>

<br />
<br />
<br />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>
    {{releaseVersion | log }}
    <p>
      This kit lets you rapidly create HTML prototypes of GOV.UK services.
    </p>

    <p>
      It contains all you need to prototype anything from simple static pages to
      complex, data-driven transactions.
    </p>

    <h2 class="govuk-heading-m">About this page</h2>

    <p>
      We recommend you add links to your prototype to this page, rather than
      delete it. You'll find this page in the kit at '/app/views/index.html'.
    </p>

    <p>You can change the service name by editing the file '/app/config.js'.</p>

    <h2 class="govuk-heading-m">Examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">
          GOV.UK Design System
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}