{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a
  href="/main/v3/course/maths/lesson/static-learning-content"
  class="govuk-back-link"
  >Back</a
>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
      Recipe Ratio
    </h2>

    <span class="progress-bar-label">Lesson progress</span>
    <div class="progress-bar">
      <div
        id="lesson-progress"
        class="progress-bar-fill"
        style="width: 0;"
      ></div>
    </div>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" style="margin-bottom: 0;">
      Introduction
    </h3>
    <span
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #6F777B;"
      >1 of 12</span
    >
    <br />
    <br />

    <p>
      In this lesson you will be learn how to calculate with ratios.
    </p>
    <p>
      The ratios we will be looking at are recipe ratios, which help in many
      industries and in everyday life.
    </p>
    <p>
      You will need to know how to calculate with ratios as part of your Maths
      Functional skills exam.
    </p>
  </div>
</div>

<a
  href="/main/v3/course/maths/lesson/learning-content/article/2"
  class="large-link"
  >Next slide</a
>
<br />
<br />

<a href="/main/v3/course/maths/lesson/assessment/start" class="small-link"
  >Skip and go to quiz</a
>

<br />
<br />
<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    updateProgress('maths', [2], 1)

    var percentage = getLessonProgress('maths')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
