{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a
  href="/main/v3/course/maths/lesson/learning-content/article/11"
  class="govuk-back-link"
  >Back</a
>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
      Recipe Ratio
    </h2>

    <span class="progress-bar-label">Lesson progress</span>
    <div class="progress-bar">
      <div
        id="lesson-progress"
        class="progress-bar-fill"
        style="width: 0;"
      ></div>
    </div>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" style="margin-bottom: 0;">
      Summary
    </h3>
    <span
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #6F777B;"
      >12 of 12</span
    >
    <br />
    <br />

    <p>
      When working with ratio it is important to keep the same proportion of
      each part.
    </p>
    <p>
      We do this by using multiplication and division.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/main/v3/course/maths/lesson/assessment/start" class="large-link"
      >Go to quiz</a
    >
  </div>
</div>

<br />
<br />
<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    updateProgress('maths', [13], 1)

    var percentage = getLessonProgress('maths')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
