{% extends "layout_with_help.html" %} {% block pageTitle %} NRS Diagnostic
Prototype {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<a
  href="/main/v3/course/maths/lesson/learning-content/article/8"
  class="govuk-back-link"
  >Back</a
>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" style="margin-bottom: 20px;">
      Recipe Ratio
    </h2>

    <span class="progress-bar-label">Lesson progress</span>
    <div class="progress-bar">
      <div
        id="lesson-progress"
        class="progress-bar-fill"
        style="width: 0;"
      ></div>
    </div>
  </div>
</div>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" style="margin-bottom: 0;">
      Practice question
    </h3>
    <span
      style="font-family: 'GDS Transport';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #6F777B;"
      >9 of 12</span
    >
    <br />
    <br />

    <p>
      Answer this question using the same method as in the example question.
    </p>
    <p>
      Arvio wants to make 60 kg of concrete. She has the following mixing ratio:
    </p>
    <p>
      How much water will she need for 60kg of concrete?
    </p>

    <div class="recipe">
      <span><strong>Concrete recipe: makes 20kg</strong></span>
    </div>
    <div class="recipe">
      <span>3kg cement</span><br />
      <span>7kg sand</span><br />
      <span>8kg stone</span><br />
      <span>2l water</span><br />
    </div>
    <br />
    <br />

    <div class="recipe">
      <span><strong>Concrete recipe: makes 60kg</strong></span>
    </div>
    <div class="recipe">
      <span>- kg cement</span><br />
      <span>- kg sand</span><br />
      <span>- kg stone</span><br />
      <span>- l water</span><br />
    </div>
    <br />
  </div>
</div>

<a
  href="/main/v3/course/maths/lesson/learning-content/article/10"
  class="large-link"
  >Next</a
>
<br />
<br />

<a href="/main/v3/course/maths/lesson/assessment/start" class="small-link"
  >Skip and go to quiz</a
>

<br />
<br />
<br />
<br />
{% endblock %} {% block pageScripts %}
<script type="text/javascript">
  $(document).ready(function() {
    updateProgress('maths', [10], 1)

    var percentage = getLessonProgress('maths')
    $('#lesson-progress').css('width', percentage + '%')
  })
</script>
{% endblock %}
